.row{
    display: table-row;
}
.row label{
    display: table-cell;
    padding: 2px;
    font-size: 16px;
    font-weight:400;
   
}
.row input{
    display: table-cell;
    padding: 2px;
    margin-left: 4px;
}
.addbook{
    border: 1px solid black;
    box-shadow: 2px 2px 15px gray;
    width: 290px;
    padding: 12px;
    background-color:rgb(238, 237, 237);
    border-radius: 4px;
    margin: 0px auto;
    margin-top: 150px;
    font-family: 'Bree Serif', serif;
    font-family: 'Pacifico', cursive;
}
#submit{
    margin-left: 120px;
    margin-bottom: 8px;
    height: 26px;
    font-size: 14px;
    width: 70px;
    border: 1px solid black;
    border-radius: 2px;
}
#submit:hover{
    box-shadow: 1px 1px 6px gray;
}